*.aps
*.log
*.bak
*.exp
*.ilk
*.lib
*.suo

/foo_queuecontents-*-binaries.zip
/foo_queuecontents-*-sources.zip
/foo_queuecontents.zip
/zip_queuecontents*.bat

pfc/
foobar2000/helpers
foobar2000/foo_input_validator
foobar2000/foo_queuecontents/Debug
foobar2000/foo_queuecontents/Release
foobar2000/foo_sample
foobar2000/SDK
foobar2000/shared
foobar2000/ATLHelpers
foobar2000/columns_ui-sdk
foobar2000/foobar2000_component_client
